
    <div style="float: right;">
        
        <table style="background:#FFF; border:none;"><tr>
        <td style="padding-top: 0px; max-height:21px; float: right; padding-left:10px; padding-right:10px; margin-left: 2px;" class="ibutton"
            onmousedown="this.className='ibutton_in'" onmouseup="this.className='ibutton'" onmouseout="this.className='ibutton'"
            onclick="terminate_instance('{{ instance }}')" onselectstart="return false">Terminate

        <td style="padding-top: 0px; max-height:21px; float: right; padding-left:10px; padding-right:10px; margin-left: 2px;" class="ibutton"
            onmousedown="this.className='ibutton_in'" onmouseup="this.className='ibutton'" onmouseout="this.className='ibutton'"
            onclick="control_instances('reboot', '{{ instance }}', 'Rebooting Instance...')" onselectstart="return false">Reboot
        
        <td style="padding-top: 0px; max-height:21px; float: right; padding-left:10px; padding-right:10px; margin-left: 2px;" class="ibutton"
            onmousedown="this.className='ibutton_in'" onmouseup="this.className='ibutton'" onmouseout="this.className='ibutton'"
            onclick="control_instances('stop', '{{ instance }}', 'Stopping Instance...')" onselectstart="return false">Stop
        </table>

    </div>

    <div style="clear: both;"></div>
